* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --slate-light: hsl(212, 45%, 89%);
    --slate-med: hsl(216, 15%, 48%);
    --slate-dark: hsl(218, 44%, 22%); 
}
  
/* */

.wrapper {
    margin: 20vh auto;
    width: 20vw;
    height: 65vh;
    background-color: white;
    box-shadow: 0px 5px 15px hsla(216, 15%, 48%, 0.25);
    border-radius: 10px;
    padding: 1vw;
    text-align: center;
}

.wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.wrapper h1 {
    font-size: 1.3rem;
    width: 90%;
    margin: 2vh auto;
    color: var(--slate-dark);
}

.wrapper p {
    font-size: 0.95rem;
    width: 95%;
    margin: 0 auto;
    color: var(--slate-med)
}

body {
    background-color: var(--slate-light)
}

/* */
  
.attribution { 
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }
  